# Root GitIgnore

# Laravel Backend
/shopify-product-stats-backend/.env
/shopify-product-stats-backend/vendor
/shopify-product-stats-backend/node_modules
/shopify-product-stats-backend/public/storage
/shopify-product-stats-backend/storage/*.key
/shopify-product-stats-backend/storage/framework/cache/data/*
/shopify-product-stats-backend/storage/framework/sessions/*
/shopify-product-stats-backend/storage/framework/views/*
/shopify-product-stats-backend/storage/logs/*
/shopify-product-stats-backend/public/assets/img/*
!/shopify-product-stats-backend/public/assets/img/.gitkeep

# Shopify Extension
/shopify-product-extension/node_modules
/shopify-product-extension/.shopify
/shopify-product-extension/.env
/shopify-product-extension/dist

# OS files
.DS_Store
Thumbs.db
